body {
  background-color: #657580;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: baseline;
}

.sumAllTask {
  margin-left: 32%;
  margin-top: 1%;
  font-size: 20px;
}

#contentPage {
  width: 35%;
  overflow-y: auto;
  height: 400px;
  margin-left: 6%;
  margin-top: 1%;
}
.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.taskContainerForEdit {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sideTask {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
}

.numbTask {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.buttonTask {
  display: flex;
}

.input {
  height: 60%;
  border-radius: 3%;
  border: 0;
}

.block {
  margin: 4%;
}

.sum {
  margin-left: 42%;
  margin-top: 2%;
}

.textTask {
  word-break: break-word;
  width: 20%;
}

.allSum {
  word-break: break-word;
  width: 17%;
}
.button {
  margin-top: 12%;
  background-color: hsl(151deg 28% 41%);
  border: 0;
  border-radius: 5%;
  font-size: 15px;
  padding: 3%;
  cursor: pointer;
}

.button:active {
  background-color: rgb(22, 219, 127);
}

.mainTitle {
  margin-bottom: 0;
}

.title {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (max-width: 1024px) {
  #contentPage {
    width: 50%;
    margin-left: 11%;
    overflow-y: auto;
    height: 400px;
  }
}

@media (max-width: 912px) {
  #contentPage {
    width: 56%;
    height: 800px;
  }

  .textTask {
    font-size: 23px;
  }

  .allSum {
    font-size: 23px;
  }

  .date {
    font-size: 23px;
  }
}

@media (max-width: 820px) {
  #contentPage {
    width: 60%;
  }
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;
    width: 80%;
  }

  .input {
    width: 90%;
    padding: 2%;
    border-radius: 0;
  }

  .block {
    font-size: 20px;
    margin: 0;
  }

  .allSum {
    font-size: 23px;
    margin: 0;
    width: 60%;
    margin-left: 27%;
  }

  .sideTask {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 65%;
    flex-direction: column;
  }

  .editSvg {
    height: 25px;
    width: 25px;
  }

  .deleteSvg {
    height: 25px;
    width: 25px;
  }

  .taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .numbTask {
    display: flex;
    width: 75%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .buttonTask {
    display: flex;
    margin-top: 4%;
    margin-left: 27%;
  }

  .container {
    display: flex;
    justify-content: baseline;
    width: 100%;
  }

  .date {
    font-size: 23px;
    margin-bottom: 4%;
  }

  #contentPage {
    width: 100%;
    margin: 0;
  }

  .textTask {
    font-size: 23px;
    width: 35%;
  }
}

@media (max-width: 414px) {
  .container {
    flex-direction: column;
    width: 80%;
  }

  .sideTask {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .taskContainer {
    margin-top: 1%;
  }

  .buttonTask {
    display: flex;
    margin-top: 4%;
    margin-left: 0%;
  }

  .input {
    width: 90%;
    padding: 2%;
    border-radius: 0;
  }
}

@media (max-width: 280px) {
  .mainTitle {
    margin-bottom: 0;
    width: 100%;
    font-size: 29px;
  }

  #contentPage {
    height: 350px;
  }

  .textTask {
    font-size: 18px;
  }

  .allSum {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 2%;
  }

  .date {
    font-size: 18px;
    margin: 2%;
    margin-top: 10%;
  }

  .editSvg {
    margin: 2%;
  }

  .editSvg {
    height: 20px;
    width: 20px;
  }

  .deleteSvg {
    height: 20px;
    width: 20px;
  }
}
